<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Negetive Test Case">
        <classes>
            <class name="org.atb4x.C2.SeleniumC2_05">
            </class>
        </classes>
    </test>
</suite>